@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.container h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
}

.dice__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.dice__container img {
  height: 100px;
}

.button__container {
  text-align: center;
}

body {
  background-color: rgb(65 184 190);
  display: grid;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.container > h1 {
  color: black;
}

.dice__container {
  color: black;
  font-size: 25px;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
}

.button__container button {
  color: white;
  background-color: black;
  border: none;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding: 10px 50px;
  border-radius: 6px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  max-width: 60vw;
  min-height: 80vh;
}
